<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin CamPastel</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/square/blue.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

</head>
<body class="nav-md">
    <div class="color_pick_wrap">

    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home",new {Area=""})" class="site_title"><i class="fa fa-adjust"></i> <span class="logo-f">Cam<span class="logo-s">Pastel</span></span></a>
                    </div>

                    <div class="clearfix"></div>


                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li class="active">
                                    <a href="@Url.Action("inicio","pagina")"><i class="fa fa-home"></i>Inicio</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Administrar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="form_general.html">Cuentas Admin</a></li>
                                        <li><a href="form_advanced.html">Cuentas Cientes</a></li>
                                        <li><a href="form_validation.html">Validar</a></li>
                                        <li><a href="form_upload.html">Actualizar</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shopping-cart" aria-hidden="true"></i> E-commerce <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Categoria")">Categorias</a></li>
                                        <li><a href="@Url.Action("Index","Producto")">Productos</a></li>
                                        <li><a href="orders.html">Pedidos</a></li>
                                        <li><a href="customers.html">Clientes</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>

            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">

                            <!-- mi cuenta -->
                            
                            <li class="linkdown">
                                @*<div class="register">
                                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                  

                                    }
                                    else
                                    {
                                        <ul class="w-150">
                                            <li><a href="#">Hola @TrabajoFinal.Areas.loginadmin.Controllers.loginController.ObtenerNombreUsuario()</a></li>

                                            <li><a href="@Url.Action("Logout", "login", new {Area="loginadmin"})"> Cerrar Sesion </a></li>
                                        </ul>

                                    }
                                </div>*@


                                @*<div class="register">


                                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        foreach (var item in ViewBag.nombre)
                                        {
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/ImgProductos/no_disponible.jpg" alt=""><span class="top_menu_user_name">@item.Nickname</span>
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                        }
                                    }
                                    else
                                    {

                                        foreach (var item in ViewBag.nombre)
                                        {
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/ImgProductos/no_disponible.jpg" alt=""><span class="top_menu_user_name">@item.Nickname</span>
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                        }

                                    }
                                    </div>*@

                                    <ul class="dropdown-menu dropdown-usermenu pull-right profile-dropdown">
                                        <li><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                                        <li class="top-menu-border-top"><a href="@Url.Action("cuentaadmin","CuentaAdmin",new {Area="loginadmin"})"><i class="fa fa-sign-out"></i>Log Out</a></li>
                                    </ul>
</li>

                            <!-- top navigation -->


                        </ul>
                        </li>




                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->



            @RenderBody()


            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    © 2017 CamPastel
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    
   

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.form.min.js"></script>

    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/highcharts.js"></script>
    <script src="~/js//exporting.js"></script>

  

    @RenderSection("scripts", required: false)

</body>
</html>















