@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>CamPastel</title>
    <meta charset="utf-8">
    <meta name="description" content="Plus E-Commerce Template">
    <meta name="author" content="Diamant Gjota" />
    <meta name="keywords" content="plus, html5, css3, template, ecommerce, e-commerce, bootstrap, responsive, creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/img/logocabecera.png" type="image/x-icon">
    <link rel="icon" href="~/img/logocabecera.png" type="image/x-icon">

    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/swiper.css" />

    <!-- this is default skin you can replace that with: dark.css, yellow.css, red.css ect -->
    <link id="pagestyle" rel="stylesheet" type="text/css" href="~/css/default.css" />


</head>
<body>
    <!-- Cabecera -->
   

    <!-- Seccion Logo -->
    <div class="middleBar">
        <div class="container">
            <div class="row display-table">
                <div class="col-sm-3 vertical-align text-left hidden-xs">
                    <a href="javascript:void(0);">
                        <img width="160" src="~/img/logocabecera.png" alt="" />
                    </a>
                </div><!-- end col -->

                <div class="col-sm-7 vertical-align text-center">
                    <form action="@Url.Action("Buscar","Home")" method="get">
                        <div class="row grid-space-1">


                            <div class="col-sm-6">
                                <input type="text" name="id" class="form-control input-lg" placeholder="Buscar">
                            </div><!-- end col -->




                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-default btn-block btn-lg" value="Buscar">
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </form>
                </div><!-- end col -->


                <div class="col-sm-2 vertical-align header-items hidden-xs">
                    <div class="header-item mr-5">
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Lista de Deseos">
                            <i class="fa fa-heart-o"></i>
                            <sub>32</sub>
                        </a>
                    </div>

                </div><!-- end col -->
            </div><!-- end  row -->
        </div><!-- end container -->
    </div>


    <!-- Menu -->
    <div class="navbar yamm navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-3" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0);" class="navbar-brand visible-xs">

                    <img src="~/img/logo.png" alt="logo">
                </a>
            </div>
            <div id="navbar-collapse-3" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <!-- Home -->

                    <li class="dropdown active">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <ul role="menu" class="dropdown-menu"></ul>
                    </li><!-- end li dropdown -->
                    <!-- Features -->
                    <li class="dropdown left">
                    <li>@Html.ActionLink("Pasteles", "productos", "Productos")</li>

                    </li><!-- end li dropdown -->
                    <!-- elements -->
                    <li><a href="elements.html">Elements</a></li>
                    <!-- Collections -->

                </ul>


            </div><!-- end navbar collapse -->
        </div><!-- end container -->
    </div>

    <!-- Cabecera -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Carrito</li>
                    </ul><!-- end breadcrumb -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->
    <!-- start section -->
    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <!-- start sidebar -->
                <div class="col-sm-3">
                    <div class="widget">
                        <h6 class="subtitle">Mi Cuenta</h6>

                        <ul class="list list-unstyled">
                            <li>
                                <a href="@Url.Action("vercuentacliente", "Cuenta")">Mi Cuenta</a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("vercarrito", "VerCarrito")">Mi Carrito <span id="nroProductosCarrito" class="text-primary">(0)</span></a>
                            </li>
                            <li>
                                <a href="order-list.html">Mis Pedidos</a>
                            </li>
                            <li>
                                <a href="wishlist.html">Lista de Deseos <span class="text-primary">(5)</span></a>
                            </li>
                        
                        </ul>
                    </div><!-- end widget -->



                    <div class="widget">
                        <h6 class="subtitle">Recientes</h6>

                        <ul class="items">
                            <li>
                                <a href="shop-single-product-v1.html" class="product-image">
                                    <img src="~/img/products/men_01.jpg" alt="Sample Product ">
                                </a>
                                <div class="product-details">
                                    <p class="product-name">
                                        <a href="shop-single-product-v1.html">Pastel de Naranja</a>
                                    </p>
                                    <span class="price text-primary">$19.99</span>
                                    <div class="rate text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li><!-- end item -->
                            <li>
                                <a href="shop-single-product-v1.html" class="product-image">
                                    <img src="~/img/products/women_02.jpg" alt="Sample Product ">
                                </a>
                                <div class="product-details">
                                    <p class="product-name">
                                        <a href="shop-single-product-v1.html">Product name</a>
                                    </p>
                                    <span class="price text-primary">$19.99</span>
                                    <div class="rate text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li><!-- end item -->
                        </ul>

                        <hr class="spacer-10 no-border">
                        <a href="shop-sidebar-left.html" class="btn btn-default btn-block semi-circle btn-md">Todos los Pasteles</a>
                    </div><!-- end widget -->
                </div><!-- end col -->
                <!-- end sidebar -->
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="title">Mi Carrito</h2>
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="spacer-5"><hr class="spacer-20 no-border">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Producto</th>
                                            <th><div class="align-center">Cantidad</div></th>
                                            <th><div class="align-right">Precio</div></th>
                                        </tr>

                                    </thead>

                                    <tbody id="itemcarrito"></tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="stronger">Total:</td>
                                        <td class="stronger"><div id="totalCompra" class="size-16 align-right">0.00</div></td>
                                    </tr>

                                </table><!-- end table -->
                            </div><!-- end table-responsive -->

                            <hr class="spacer-10 no-border">

                            <a href="@Url.Action("productos","Productos")" class="btn btn-light semi-circle btn-md pull-left">
                                <i class="fa fa-arrow-left mr-5"></i> Continua Comprando
                            </a>

                            <a href="@Url.Action("realizarpago","RealizarPago")" class="btn btn-default semi-circle btn-md pull-right">
                                Realizar Pago <i class="fa fa-arrow-right ml-5"></i>
                            </a>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->

    </section>
    <!-- end section -->
    <!-- JavaScript Files -->
    <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.downCount.js"></script>
    <script type="text/javascript" src="~/js/nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/js/pace.min.js"></script>
    <script type="text/javascript" src="~/js/star-rating.min.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>*@
    <script type="text/javascript" src="~/js/gmaps.js"></script>
    <script type="text/javascript" src="~/js/swiper.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>

    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargarProductos(productos);
            }
        });
        function CargarProductos(productos) {
            var html = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                '            <td class="image"><img src="/ImgProductos/' + this.Imagen + '" alt="" width="124" height="124" /></td>' +
                '            <td class="desc">' + this.Denominacion + ' &nbsp; <a title="Remove Item" class="icon-remove-sign" href="#"></a></td>' +
                '            <td class="qty">' +
                '                <input type="text" class="tiny-size" value="' + this.Cantidad + '" />' +
                '           </td>' +
                '           <td class="price">S/. ' + this.Precio + '</td>' +
                '          </tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }
    </script>


</body>

</html>
